* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  line-height: auto;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: inherit;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--cor-branco);
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--cor-branco);
}

section {
  width: 100vw;
}

a {
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none !important;
}

a.btnPrincipal {
  padding: 14px 35px;
  color: var(--cor-branco);
  background-color: var(--cor-azul-escuro);
  border-radius: 30px;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
}

a.btnPrincipal:hover {
  background-color: var(--cor-preto);
  box-shadow: 0 0 15px -7px var(--cor-branco);
}

a.btnSecundario {
  color: var(--cor-branco);
  padding: 14px 35px;
  border: 1px solid var(--cor-branco);
  border-radius: 25px;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
}

a.btnSecundario:hover {
  background-color: var(--cor-branco);
  box-shadow: 0 0 15px -7px var(--cor-branco);
  color: var(--cor-preto);
}

hr {
  width: 79%;
  height: 1px;
  border: 1px solid var(--cor-preto);
  color: var(--cor-preto);
  opacity: 0.5;
  margin: 0 0 5rem 0;
}


@media screen and (max-width: 768px) {
  a.btnPrincipal {
    padding: 14px 18px;
    font-size: 12px;
  }

  a.btnSecundario {
    padding: 14px 25px;
    font-size: 12px;
  }

  hr {
    width: 97%;
  }
}

@media (min-width: 1980px) and (max-width: 2560px) {
  a.btnPrincipal {
    padding: 20px 52px;
    border-radius: 55px;
    font-size: 28px;
  }

  a.btnSecundario {
    color: var(--cor-branco);
    padding: 20px 50px;
    border: 1px solid var(--cor-branco);
    border-radius: 55px;
    font-size: 28px;
    font-family: "Work Sans", sans-serif;
  }
}