:root {
    --cor-rosa: #BF0267;
    --cor-azul-escuro: #0015B8;
    --cor-azul-claro: #4A00FF;
    --cor-azul-t: #6e7fff1a;
    --cor-branco: #FFFFFF;
    --cor-branco-t: #ffffff1d;
    --cor-branco-s: #F3F3F3;
    --cor-cinza: #E5E5E5;
    --cor-preto: #000000;
    --cor-preto-fosco: #191A23;
}
