.agencia {
    background-color: var(--cor-cinza);
    height: 107vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 55px 55px 0 0;
}

.agencia .headline {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.agencia .headline .title {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.agencia .headline .title h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 62px;
    max-width: 30rem;
}

.agencia .headline .title h2 span {
    color: var(--cor-azul-escuro);
}

.agencia p.descricao {
    font-size: 28px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    color: var(--cor-preto-fosco);
    opacity: 0.8;
}

.agencia .headline .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0 0 0 5rem;
    gap: 1rem;
    max-width: 32rem;
}

.agencia .headline .texto .linha {
    width: 1px;
    height: 120px;
    border: 1px solid var(--cor-preto);
    margin: 0 0 0 15px;
    opacity: 0.3;
}

#icon-agencia {
    width: 100%;
    max-width: 37rem;
    margin: 4rem 0 0 0;
}

.agencia .video {
    position: relative;
}

.agencia .video img {
    position: relative;
    top: 7rem;
}

.agencia iframe {
    position: absolute;
    left: 31%;
    width: 339px;
    height: 600px;
    border: 3px solid var(--cor-preto);
    border-radius: 30px;
    top: 20px;
}


@media (min-width: 320px) and (max-width: 768px) {
    .agencia {
        height: 145vh;
        flex-direction: column;
        border-radius: 40px 40px 0 0;
        justify-content: end;
        gap: 6rem;
    }

    .agencia .headline {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #icon-agencia {
        max-width: 90vw;
        margin: 5rem 0 0 0;
    }

    .agencia .video img {
        position: relative;
        top: 2rem;
        width: 19rem;
    }

    .agencia iframe {
        left: 28%;
        width: 196px;
        height: 345px;
        top: -60px;
    }

    .agencia .headline .title h2 {
        font-size: 35px;
        max-width: 71vw;
    }

    .agencia .headline .title {
        align-items: start;
        gap: 1rem;
        justify-content: center;
        width: 100% !important;
        padding: 0px;
    }

    .agencia .headline .texto {
        padding: 0px;
        margin: 0rem;
        gap: 1rem;
        max-width: 95vw;
    }

    .agencia .headline .texto .linha {
        margin: 0px;
    }

    .agencia p.descricao {
        font-size: 19px;
        font-family: "Work Sans", sans-serif;
        font-weight: 300;
        color: var(--cor-preto-fosco);
        opacity: 0.8;
        padding: 0 16px 0 0px;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {
    .agencia {
        height: 125vh;
    }
}

@media (min-width: 1980px) and (max-width: 2560px) {
    .agencia {
        height: 78vh;
        border-radius: 110px 95px 0 0;
        gap: 15rem;
    }

    .agencia .headline .title img {
        width: 80px;
    }

    .agencia .headline .title h2 {
        font-size: 85px;
        max-width: 37rem;
    }

    .agencia .headline .texto {
        margin: 0 0 0 5rem;
        max-width: 38rem;
    }

    .agencia .headline .texto .linha {
        height: 156px;
    }

    .agencia p.descricao {
        font-size: 35px;
    }

    .agencia .video img {
        top: 7rem;
        width: 47rem;
    }

    .agencia iframe {
        left: 31%;
        width: 404px;
        height: 716px;
        top: 34px;
    }
}