.apresentacao {
    background-image: url(../../../../files/img/img.png);
    background-size: cover;
    background-position: center;
    height: 95vh;
    padding: 0 160px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao .title {
    width: 100%;
    max-width: 28rem;
}

.title h1 {
    color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    width: 25rem;
    font-size: 67px;
    line-height: 65px;
}

.apresentacao p.headline {
    color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    margin: 1rem 0 1rem 0;
    width: 28rem;
    font-size: 23px;
    font-weight: 100;
}

.title p.tag {
    color: var(--cor-branco);
    font-family: "Work Sans", sans-serif;
    padding: 12px 20px;
    background-color: var(--cor-azul-t);
    border-radius: 25px;
    width: 15rem;
    font-size: 14px;
    opacity: 0.8;
    margin: 0 0 1rem 0;
}

.acoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.acoes a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.popup-mensagens {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* margin: 9rem 0 0 0; */
    position: absolute;
    left: 68%;
    bottom: 29%;
}

.mensagem-um {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 13px 8px 8px;
    color: var(--cor-branco);
    background-color: var(--cor-branco-t);
    border-radius: 30px;
    border: 1px solid var(--cor-branco-t);
    font-size: 14px;
    width: 100%;
    max-width: 17rem;
}

.mensagem-dois {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 18px 8px 8px;
    color: var(--cor-branco);
    background-color: var(--cor-branco-t);
    border-radius: 30px;
    border: 1px solid var(--cor-branco-t);
    margin: 0 0 0 17px;
}

.mensagem-um p,
.mensagem-dois p {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 200;
}

.box {
    background-color: var(--cor-rosa);
    margin: 0 10rem 0 10rem;
    position: absolute;
    width: 75.5rem;
    left: 0%;
    top: 93%;
    color: var(--cor-branco);
    padding: 2rem 3rem;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13rem;
}

.box h3 {
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    max-width: 26rem;
}

.box .linha {
    width: 1px;
    height: 3rem;
    border: 1px solid var(--cor-branco);
}

.box p {
    color: var(--cor-branco);
    max-width: 28rem;
    font-size: 14px;
    font-family: "Work Sans", sans-serif;
    width: 100%;
    font-weight: 300;
    /* padding: 0 7rem 0 0rem; */
}

@media screen and (max-width: 768px) {
    .apresentacao {
        background-size: cover;
        background-position: center;
        height: 95vh;
        padding: 0 15px;
        flex-direction: column;
        justify-content: center;
    }

    .title h1 {
        color: var(--cor-branco);
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        width: 13rem;
        font-size: 35px;
        line-height: 34px;
    }

    .apresentacao p.headline {
        color: var(--cor-branco);
        font-family: "Montserrat", sans-serif;
        margin: 1rem 0 1rem 0;
        width: 82vw;
        font-size: 20px;
        font-weight: 100;
    }

    .popup-mensagens {
        display: none;
    }

    .box {
        margin: 0 10px 0 10px;
        width: 90%;
        left: 0%;
        top: 88%;
        padding: 1rem 1.5rem;
        height: 13.7rem;
        flex-direction: column;
        border-radius: 30px;
    }

    .box .linha {
        width: 17rem;
        height: 0px;
        border: 1px solid var(--cor-branco);
    }

    .box h3 {
        font-size: 17px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        max-width: 26rem;
    }
}