.contato {
    background-color: var(--cor-azul-claro);
    height: 130vh;
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 6rem;
    padding: 0 0px 0 10rem;
}

.contato .headline {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    justify-content: center;
    height: 57rem;
}

.contato .headline .title {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.contato .headline .title h2 {
    color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.contato p.descricao {
    font-size: 28px;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    color: var(--cor-preto-fosco);
    opacity: 0.8;
}

.contato .headline .texto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0 0 0 -3rem;
    gap: 1rem;
    max-width: 45rem;
}

.contato .headline .texto .linha {
    width: 1px;
    height: 19rem;
    border: 1px solid var(--cor-branco);
    margin: 22rem 0 0 15px;
    opacity: 0.3;
    position: absolute;
    left: 12%;
}

.contato .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    margin: 21rem 0 0 -24rem;
}

.contato .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #2E009D;
    border-radius: 18px;
    padding: 25px 37px;
}


.contato .card h4 {
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--cor-branco);
}

.contato .card p {
    font-family: "Work Sans", sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: var(--cor-branco);
    line-height: 30px;
}

.contato .formulario .title {
    backdrop-filter: blur(50px);
    border-radius: 25px !important;
    overflow: hidden;
}

.contato .formulario {
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: row;
    width: 37rem;
    margin: 1rem 0 0 0;
    position: relative;
    left: -1.2%;
    bottom: -3%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25rem;
    height: 29.6rem;
    background-color: var(--cor-branco);
    padding: 22px 15px;
    border-radius: 18px;
    position: absolute;
    left: 32.5%;
}

.form input {
    border: 2px solid var(--cor-cinza);
    height: 55px;
    border-radius: 6px;
    padding: 0 18px;
}

#nomeUsuario,
#celular,
#email {
    color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

input#quantidadeCliente,
input#faturamento,
input#opcao {
    color: var(--cor-preto);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#btnEnviar {
    background: rgb(191, 2, 103);
    background: linear-gradient(90deg, rgba(191, 2, 103, 1) 0%, rgba(74, 0, 255, 1) 100%);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-branco);
}

@media (min-width: 320px) {
    .contato {
        height: 277vh;
    }

    .contato .headline .title h2 {
        font-size: 28px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .contato .feedback .topo {
        margin: 10rem 0 3rem 0;
        padding: 0 20px;
    }

    .contato {
        height: 239vh;
        align-items: end;
        justify-content: start;
        gap: 1rem;
        padding: 0 0px 0 10px;
        flex-direction: column;
    }

    .contato .headline {
        flex-direction: column;
        align-items: flex-end;
        gap: 5rem;
        height: 68rem;
        margin: 15rem 0 0 0;
        width: 100%;
    }

    .contato .headline .title {
        align-items: start;
        gap: 1rem;
        width: 100% !important;
        padding: 0 10px;
    }

    .contato .headline .texto {
        padding: 0px;
        margin: 0 0 0 0rem;
        gap: 1rem;
        max-width: 93vw;
        justify-content: flex-end;
    }

    .contato .headline .title h2 {
        font-size: 28px;
    }

    .contato .headline .texto .linha {
        width: 1px;
        height: 19rem;
        margin: 22rem 0 0 15px;
        opacity: 0.3;
        left: 6%;
        display: none;
    }

    .contato .cards {
        flex-direction: column;
        gap: 1.2rem;
        margin: 21rem 20px 0 20px;
    }

    .contato .card {
        gap: 1rem;
        background-color: #2E009D;
        border-radius: 18px;
        padding: 25px 25px;
    }

    .contato .card h4 {
        font-size: 19px;
    }

    .contato .card p {
        font-size: 14px;
        line-height: 16px;
    }

    .contato .formulario {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: row;
        width: 95vw;
        margin: 4rem 0 0 0;
        position: relative;
        left: 0%;
        bottom: -2%;
    }

    .contato .formulario .title img {
        width: 91vw;
        height: 334px;
    }

    .form {
        flex-direction: column;
        gap: 10px;
        width: 77vw;
        height: 20.8rem;
        background-color: var(--cor-branco);
        padding: 22px 15px;
        border-radius: 18px;
        position: absolute;
        left: 14.5%;
    }

    .form input {
        height: 36px;
        padding: 0 10px;
    }

    #nomeUsuario,
    #celular,
    #email {
        font-size: 14px;
    }

    input#quantidadeCliente,
    input#faturamento,
    input#opcao {
        font-size: 12px;
    }
}

@media (min-width: 1366px) and (max-width: 1440px) {
    .contato {
        height: 102vh;
    }
}

@media (min-width: 1980px) and (max-width: 2560px) {
    .contato {
        height: 110vh;
        gap: 6rem;
        padding: 0 21rem;
    }

    .contato .headline {
        gap: 6rem;
        height: 71rem;
    }

    .contato .headline .title h2 {
        font-size: 85px;
    }

    .contato .headline .texto .linha {
        width: 1px;
        height: 22rem;
        margin: 22rem 0 0 15px;
        left: 14.5%;
    }

    .contato .cards {
        gap: 2rem;
        margin: 21rem 0 0 -34rem;
    }

    .contato .card h4 {
        font-size: 35px;
    }

    .contato .card p {
        font-family: "Work Sans", sans-serif;
        font-size: 28px;
        line-height: 42px;
    }

    .formulario .title img {
        width: 43rem;
    }

    .contato .formulario {
        width: 44rem;
        margin: 1rem 0 0 0;
        left: 15.8%;
        bottom: -4%;
    }

    .form {
        gap: 20px;
        width: 36.4rem;
        height: 43.6rem;
        padding: 38px 30px;
        left: 17.5%;
    }

    .form input {
        border: 3px solid var(--cor-cinza);
        height: 68px;
        border-radius: 8px;
        padding: 0 18px;
    }

    #nomeUsuario,
    #celular,
    #email {
        font-size: 24px;
    }

    input#quantidadeCliente,
    input#faturamento,
    input#opcao {
        font-size: 24px;
    }

    #btnEnviar {
        font-size: 26px;
    }
}