.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    /* height: 249vh; */
    height: 275vh;
    padding: 0 10.5rem;
}

.services .topo {
    display: flex !important;
    flex-direction: row;
    /* padding: 0 160px; */
    justify-content: space-between;
    gap: 14rem;
    margin: 3rem 0;
}

.services .title {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 1rem;
}

.services .title h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.services .texto {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.texto .linha {
    width: 1px;
    height: 120px;
    border: 1px solid var(--cor-preto);
    margin: 0 0 0 15px;
    opacity: 0.3;
}

.services .title p {
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    max-width: 28rem;
    font-weight: 300;
}

.services .cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* padding: 0 10.5rem; */
    margin: 1rem 0;
}

.card-azul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 25px 30px;
    border-radius: 25px;
    background-color: var(--cor-azul-escuro);
    color: var(--cor-branco);
    width: 28rem;
    border: 1px solid var(--cor-preto);
    box-shadow: 0px 3px 0px 0px var(--cor-preto);
    width: 35rem;
}

.card-azul h4,
.card-cinza h4,
.card-rosa h4,
.card-preto h4 {
    font-family: "Work Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.card-azul p,
.card-cinza p,
.card-rosa p,
.card-preto p {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.card-azul .descricao,
.card-cinza .descricao,
.card-rosa .descricao,
.card-preto .descricao {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-cinza {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 25px 30px;
    border-radius: 25px;
    background-color: var(--cor-cinza);
    width: 28rem;
    border: 1px solid var(--cor-preto);
    box-shadow: 0px 3px 0px 0px var(--cor-preto);
    width: 35rem;
}

.card-rosa {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 25px 30px;
    border-radius: 25px;
    background-color: var(--cor-rosa);
    color: var(--cor-branco);
    width: 28rem;
    border: 1px solid var(--cor-preto);
    box-shadow: 0px 3px 0px 0px var(--cor-preto);
    width: 35rem;
}

.card-preto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 25px 30px;
    border-radius: 25px;
    background-color: var(--cor-preto-fosco);
    color: var(--cor-branco);
    width: 28rem;
    border: 1px solid var(--cor-preto);
    box-shadow: 0px 3px 0px 0px var(--cor-preto);
    width: 35rem;
}

.imgCard {
    width: 142px !important;
}

.descricao img {
    width: 50px;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 8rem 0;
    gap: 1rem;
}

.rodape p {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;
}


@media (min-width: 320px) and (max-width: 480px) {
    .services {
        height: 402vh;
        padding: 0 15px;
    }

    .services .topo {
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        gap: 3rem;
        margin: 1rem 0;
    }

    .services .title p {
        font-size: 17px;
        max-width: 90vw;
    }

    .services .cards {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0px;
        margin: 1rem 0;
        flex-direction: column;
        gap: 25px;
    }

    #linha-dois {
        flex-direction: column-reverse;
    }

    .card-azul h4,
    .card-cinza h4,
    .card-rosa h4,
    .card-preto h4 {
        font-size: 20px;
    }

    .card-azul p,
    .card-cinza p,
    .card-rosa p,
    .card-preto p {
        font-family: "Work Sans", sans-serif;
        font-size: 13px;
        font-weight: 300;
    }

    .descricao img {
        width: 18px;
    }

    .imgCard {
        width: 92px !important;
    }

    .card-azul {
        flex-direction: column;
        gap: 15px;
        padding: 20px 20px;
        border-radius: 25px;
        width: 100%;
    }

    .card-cinza {
        flex-direction: column;
        gap: 0.3rem;
        padding: 20px 20px;
        border-radius: 25px;
        width: 93vw;
    }

    .card-preto {
        flex-direction: column;
        gap: 1rem;
        padding: 20px 20px;
        border-radius: 25px;
        width: 93vw;
    }

    .card-rosa {
        flex-direction: column;
        gap: 15px;
        padding: 20px 20px;
        border-radius: 25px;
        width: 93vw;
    }

    .services .title h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 35px;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
        margin: 3rem 0 8rem 0;
    }

    .rodape p {
        font-size: 14px;
        width: 90vw;
        text-align: center;
    }
}

/* @media screen and (max-width: 375px) {
    .services {
        height: 390vh;
    }
} */

@media (min-width: 1366px) and (max-width: 1440px) {
    .services {
        height: 216vh;
    }

    .services .cards {
        gap: 1rem;
    }

    .services .title p {
        font-size: 20px;
    }
}

@media (min-width: 1980px) and (max-width: 2560px) {
    .services {
        height: 250vh;
        padding: 0 10.5rem;
    }

    hr {
        width: 84%;
        margin: 0 0 5rem 0;
    }

    .services .title h2 {
        font-size: 75px;
    }

    .services .title p {
        font-size: 38px;
        max-width: 35rem;
    }

    .services .topo {
        justify-content: center;
        gap: 18rem;
        margin: 8rem 0 3rem 0;
    }

    .services .cards {
        justify-content: center;
        margin: 2rem 0;
        gap: 5rem;
    }

    .card-azul h4,
    .card-cinza h4,
    .card-rosa h4,
    .card-preto h4 {
        font-size: 42px;
    }

    .card-azul p,
    .card-cinza p,
    .card-rosa p,
    .card-preto p {
        font-size: 32px;
    }

    .descricao img {
        width: 118px;
    }

    .imgCard {
        width: 225px !important;
    }

    .card-azul {
        padding: 28px 35px;
        border: 2px solid var(--cor-preto);
        box-shadow: 0px 6px 0px 0px var(--cor-preto);
        width: 50rem;
    }

    .card-cinza {
        padding: 28px 35px;
        border: 2px solid var(--cor-preto);
        box-shadow: 0px 7px 0px 0px var(--cor-preto);
        width: 50rem;
    }

    .card-preto {
        padding: 28px 35px;
        border: 2px solid var(--cor-preto);
        box-shadow: 0px 6px 0px 0px var(--cor-preto);
        width: 50rem;
    }

    .card-rosa {
        padding: 28px 35px;
        border: 2px solid var(--cor-preto);
        box-shadow: 0px 6px 0px 0px var(--cor-preto);
        width: 50rem;
    }

    .rodape p {
        font-size: 32px;
    }
}